@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    todo;
        tidy up!
*@

<form id="RequestImage">
    <fieldset>
        <div class="form-group w-50">
            <label for="imageName">Image</label>
            <input type="file" class="form-control-file" id="imageName" name="imageName" required />
            <small class="form-text text-muted">Select an image from the product image folder</small>
        </div>

        <div class="form-group w-50">
            <label for="backgroundColour">Background</label>
            <input type="color" class="form-control" id="backgroundColour" name="backgroundColour" value="#ffffff" />
            <small class="form-text text-muted">Select a colour for the images background</small>
        </div>

        <div class="form-group w-100">
            <label for="height">Height</label>
            <input type="number" class="form-control" id="height" name="height" />
            <label for="width">Width</label>
            <input type="number" class="form-control" id="width" name="width" />
            <small class="form-text text-muted">Request a custom resolution for the image selected, leaving both fields blank will return the default size, filling in one field will scale the image</small>
        </div>

        <div class="form-group w-50">
            <label for="watermark">Watermark</label>
            <input type="text" class="form-control" id="watermark" name="watermark" />
            <small class="form-text text-muted">Text to watermark the image with</small>
        </div>

        <div class="form-group w-50">
            <label for="download">Download</label>
            <input type="checkbox" class="form-check" id="download" name="download" value="true" />
            <label for="imageFormat">Format</label>
            <select id="imageFormat" name="imageFormat">
                <option value="png" selected="selected">png</option>
                <option value="jpeg">jpeg</option>
                <option value="bmp">bmp</option>
                <option value="gif">gif</option>
            </select>
            <small class="form-text text-muted">Check to save format on request</small>
        </div>

        <input type="submit" value="Request Image" />
    </fieldset>
</form>

<div id="ImagePreview">
    <div id="ImageUrl">
    </div>
    <img id="ImageResult" src="" />
</div>

<script type="text/javascript">
    $(function () {
        $('#RequestImage').submit(function (event) {
            event.preventDefault();

            var baseUrl = window.location.origin + "/Processor/Image";

            var imageUrl = $('#RequestImage').serialize();

            var imagePath = $('form#RequestImage input#imageName')[0].value.split('\\');

            var imageName = imagePath[imagePath.length - 1];

            if (imageName != "") {
                imageUrl = baseUrl + "?imageName=" + imageName + "&" + imageUrl;
            }

            $('#ImageResult').attr('src', imageUrl);

            $('#ImageUrl').html('<a href="'+imageUrl+'" target="_blank">'+imageUrl+'</a>');
        });
    });
</script>