@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="RequestImage">
    <fieldset>
        <div class="form-group">
            <label for="imageName">Select Image</label>
            <input type="file" class="form-control-file" id="imageName" name="imageName" />
            <small class="form-text text-muted">Select an image from disk.</small>
        </div>

        <div class="form-group">
            <label for="height">Height</label>
            <input type="number" class="form-control" id="height" name="height" />
            <label for="width">Width</label>
            <input type="number" class="form-control" id="width" name="width" />
            <small class="form-text text-muted">Request a custom resolution for the image selected (leave blank for default).</small>
        </div>

        <div class="form-group">
            <label for="backgroundColour">Background</label>
            <input type="color" class="form-control" id="backgroundColour" name="backgroundColour" value="#ffffff"/>
            <small class="form-text text-muted">Select a colour for the images background</small>
        </div>

        @*todo:-
        Add other form inputs*@

        <input type="submit" value="Request Image" />
    </fieldset>
</form>

<div id="ImagePreview">
    <div id="ImageResult">
        nothing
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#RequestImage').submit(function (event) {

            var queryString = $('#RequestImage').serialize();

            var imagePath = $('form#RequestImage input#imageName')[0].value.split('\\');

            var imageName = imagePath[imagePath.length - 1];

            if (imageName != "") {
                queryString = "imageName=" + imageName + "&" + queryString;
            }

            @*todo:-
                    Validate form*@

            event.preventDefault();

            $.ajax({
                url: "Processor/Image?"+queryString,
                type: "get",
                success: function (result) {
                    $('#ImageResult').html(result);
                    }
                });

        });
    });
</script>